@{
    ViewData["Title"] = "404 ERROR";
}
<div class="bg-error d-flex flex-column justify-content-center align-items-center vw-100 vh-100">

    
        <h1 class=" text-primary display-1">@ViewData["Title"]</h1>
    
        <h3> URL is not recognized</h3>
    

</div>
